## Assignment-5 NIELIT

1. Below are the two lists convert it into the dictionary
keys = [Ten,Twenty,Thirty]
values = [10, 20, 30]
Expected output:
{'Ten':10, 'Twenty':20,'Thirty':30}

In [2]:
keys = ['Ten','Twenty','Thirty'] 
values = [10, 20, 30]
print(dict(zip(keys,values)))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}


2. Merge following two Python dictionaries into one
dict1 = {&#39;Ten&#39;: 10, &#39;Twenty&#39;: 20, &#39;Thirty&#39;: 30}
dict2 = {&#39;Thirty&#39;: 30, &#39;Fourty&#39;: 40, &#39;Fifty&#39;: 50}

Expected output:
{&#39;Ten&#39;: 10, &#39;Twenty&#39;: 20, &#39;Thirty&#39;: 30, &#39;Fourty&#39;: 40, &#39;Fifty&#39;: 50}

In [15]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1 , **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [19]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}



3. Access the value of key ‘history’
sampleDict = {
&quot;class&quot;:{
&quot;student&quot;:{
&quot;name&quot;:&quot;Mike&quot;,
&quot;marks&quot;:{
&quot;physics&quot;:70,
&quot;history&quot;:80
}
}
}
}

In [20]:
sampleDict = { "class":{ "student":{ "name":"Mike", "marks":{ "physics":70, "history":80 } } } }
sampleDict['class']['student']['marks']['history']

80

4. Initialize dictionary with default values
employees = [&#39;Kelly&#39;, &#39;Emma&#39;, &#39;John&#39;]
defaults = {&quot;designation&quot;: &#39;Application Developer&#39;, &quot;salary&quot;: 8000}

In [23]:
defaults = {"designation": 'Application Developer', "salary": 8000}
employees = ['Kelly', 'Emma', 'John']
defaults['employees'] = employees
print(defaults)

{'designation': 'Application Developer', 'salary': 8000, 'employees': ['Kelly', 'Emma', 'John']}

5. Create a new dictionary by extracting the following keys from a given dictionary
sampleDict = {
&quot;name&quot;: &quot;Kelly&quot;,
&quot;age&quot;:25,
&quot;salary&quot;: 8000,
&quot;city&quot;: &quot;New york&quot;}
Keys to extract
keys = [&quot;name&quot;, &quot;salary&quot;]
Expected output:
{&#39;name&#39;: &#39;Kelly&#39;, &#39;salary&#39;: 8000}

In [45]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
newdict = {}
for key, values in sampleDict.items():
    if key in ['name','salary']:
        newdict[key] = values
print(newdict)

{'name': 'Kelly', 'salary': 8000}

6. Delete set of keys from Python Dictionary using comprehension
sampleDict = {
&quot;name&quot;: &quot;Kelly&quot;,
&quot;age&quot;:25,
&quot;salary&quot;: 8000,
&quot;city&quot;: &quot;New york&quot;
}
keysToRemove = [&quot;name&quot;, &quot;salary&quot;]
Expected output:
{&#39;city&#39;: &#39;New york&#39;, &#39;age&#39;: 25}

In [60]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
keysToRemove = ["name", "salary"]
for i in keysToRemove:
    sampleDict.pop(i)

sampleDict

{'age': 25, 'city': 'New york'}

7. Rename key city to location in the following dictionary
sampleDict = {
&quot;name&quot;: &quot;Kelly&quot;,
&quot;age&quot;:25,
&quot;salary&quot;: 8000,
&quot;city&quot;: &quot;New york&quot;
}
Expected output: (Hint:use pop)
{
&quot;name&quot;: &quot;Kelly&quot;,
&quot;age&quot;:25,
&quot;salary&quot;: 8000,
&quot;location&quot;: &quot;New york&quot;
}

In [68]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
sampleDict['location'] = sampleDict['city']
sampleDict.pop("city")
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

8. Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
&#39;Physics&#39;: 82,
&#39;Math&#39;: 65,
&#39;history&#39;: 75
}
Expected output:
Math

In [79]:
sampleDict = { 'Physics': 82, 'Math': 65, 'history': 75 } 
m = min(sampleDict.values())
for key, values in sampleDict.items():
    if values == m:
        print(key)

Math

9. Write code to flip a dictionary — that is, to exchange its keys and values.

In [1]:
def revdict():
    sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
    newDict = {}
    for key,value in sampleDict.items():
        #if value not in newDict:
            #newDict[key] = value
        newDict[value] = key
    return newDict

r= revdict()
print(r)

{'Kelly': 'name', 25: 'age', 8000: 'salary', 'New york': 'city'}

10. Create a database in the following format
Values = Router1 1.1.1.1 zframez zframez
Keys = (name) (IP) (username) (pwd)

In [4]:
database = {'name':'router','ip':'1.1.1.1','username':'zframez','pwd':'zframez'}
print(database)

{'name': 'router', 'ip': '1.1.1.1', 'username': 'zframez', 'pwd': 'zframez'}

11. Write a python program to print the value of a given key

In [2]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
sampleDict["name"]

'Kelly'

12. Write a python program to check whether the given key is present, if present print the value , else add a new key
and value

In [8]:
def check():
    sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
    key = input("Enter key to be checked")
    for k in sampleDict.items():
        if key in sampleDict:
            return sampleDict[key]
        else:
            value = input("enter value")
            sampleDict[key] = value 
            return sampleDict
c = check()
print(c)

Enter key to be checkedasd
enter valuedsa
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york', 'asd': 'dsa'}

13. Create a database in the following format

Interface IP status
Ethernet0 1.1.1.1 up
Ethernet1 2.2.2.2 down
Serial0 3.3.3.3 up
Serial1 4.4.4.4 up

In [32]:
database = {'interface':['Ethernet0','Ethernet1','Serial0','Serial1'],'ip':['1.1.1.1','2.2.2.2','3.3.3.3','4.4.4.4'],'status':['up','down','up','up']}

14. Write a python program to find status of a given interface

In [13]:
database = {'interface':['Ethernet0','Ethernet1','Serial0','Serial1'],'ip':['1.1.1.1','2.2.2.2','3.3.3.3','4.4.4.4'],'status':['up','down','up','up']}

n = input("Enter interface ")
l1 = database['interface']
c=0
for i in l1:
    c+=1
    if i == n:
        print(database['status'][c-1])
        break
else:
    print("not in database")

Enter interface Ethernet1
down

15. Write a python program to find interface and IP of all interfaces which are up

In [45]:
l1 = database['interface']
l2 = database['ip']
l3 = database['status']
l = list(zip(l1,l2,l3))
#print(l)
for i in l:
    if i[2] == 'up':
        print(i[:2])

('Ethernet0', '1.1.1.1')
('Serial0', '3.3.3.3')
('Serial1', '4.4.4.4')

16. Write a python program to count how many ethernet interfaces are there

In [51]:
l1 = database['interface']
l2 = database['ip']
l3 = database['status']
l = list(zip(l1,l2,l3))
c=0
for i in l:
    if i[0][:8] == 'Ethernet':
        c+=1
print(c)

2

17. Write a python program to add a new entry to above database

In [3]:
database = {'interface':['Ethernet0','Ethernet1','Serial0','Serial1'],'ip':['1.1.1.1','2.2.2.2','3.3.3.3','4.4.4.4'],'status':['up','down','up','up']}

a = input("Enter interface")
b = input("Enter ip")
c = input("Enter status")
l1 = database['interface']
l2 = database['ip']
l3 = database['status']
#rint(l1)
l1.append(a)
l2.append(b)
l3.append(c)
#database['interface'] = l1
print(database)

Enter interfaceEthernet3
Enter ip5.5.5.5
Enter statusup
{'interface': ['Ethernet0', 'Ethernet1', 'Serial0', 'Serial1', 'Ethernet3'], 'ip': ['1.1.1.1', '2.2.2.2', '3.3.3.3', '4.4.4.4', '5.5.5.5'], 'status': ['up', 'down', 'up', 'up', 'up']}

18. Write a Python script to concatenate following dictionaries to create a new one. 
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
dict1.update(dict2)
dict1.update(dict3)
dict1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

19 Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [29]:
n = int(input("Enter value"))
l1 = [i for i in range(1,n+1)]
dict1 ={value:value**2 for value in l1}
dict1

Enter value5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

20. Write a Python program to multiply all the items in a dictionary

In [38]:
import functools
d1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
r = functools.reduce(lambda i,j:i*j,d1.values())
r

14400

21. Write a Python program to map two lists into a dictionary.

In [2]:
l1 = []
l2 = []
n = int(input("Enter no. of elements in l1"))
for i in range(n):
    l1.append(int(input("Enter value ")))
n = int(input("Enter no. of elements in l2"))
for i in range(n):
    l2.append(int(input("Enter value ")))
d1 = dict(zip(l1,l2))
print(d1)

Enter no. of elements in l15
Enter value 1
Enter value 2
Enter value 3
Enter value 4
Enter value 5
Enter no. of elements in l25
Enter value 1
Enter value 2
Enter value 3
Enter value 4
Enter value 5

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

22. Write a Python program to get the maximum and minimum value in a dictionary using lambda function.

In [13]:
dict1 = {i:i**2 for i in range(1,6)}
l1 = list(filter(lambda x:x,dict1.values()))
print(min(l1))
print(max(l1))

1
25

23. Write a Python program to remove duplicate v

In [15]:
d1 = {'a':'a','b':'b','c':'c','d':'d','e':'a'}
s = set(i for i in d1.values())
s

{'a', 'b', 'c', 'd'}

24. Write a Python program to combine values in python list of dictionaries. 
Sample data: [{&#39;item&#39;: &#39;item1&#39;, &#39;amount&#39;: 400}, {&#39;item&#39;: &#39;item2&#39;, &#39;amount&#39;: 300}, {&#39;item&#39;: &#39;item1&#39;, &#39;amount&#39;: 750}]
Expected Output: Counter({&#39;item1&#39;: 1150, &#39;item2&#39;: 300})

In [39]:
sample = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

d1 = list(sample[0].values())
d2 = list(sample[1].values())
d3 = list(sample[2].values())
d = list(zip(d1,d2,d3))
#print(d)
l1 = []
if d1[0]==d2[0]:
    l1.append(d1[0])
    l1.append(d1[1]+d2[1])
if d1[0]==d3[0]:
    l1.append(d1[0])
    l1.append(d1[1]+d3[1])
if d2[0]==d3[0]:
    l1.append(d2[0])
    l1.append(d2[1]+d3[1])
for j in d[0]:
    if j not in l1:
        l1.append(j)
        ind = d[0].index(j)
        l1.append(d[1][ind])
newli1 = l1[::2]
newli2 = l1[1::2]
newdict = dict(zip(newli1,newli2))
newdict

{'item1': 1150, 'item2': 300}

25. Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string.
Sample string : &#39;w3resource&#39;
Expected output: {&#39;w&#39;: 1, &#39;3&#39;: 1, &#39;r&#39;: 2, &#39;e&#39;: 2, &#39;s&#39;: 1, &#39;o&#39;: 1, &#39;u&#39;: 1, &#39;c&#39;: 1}alues from Dictionary.

In [18]:
sample = 'w3resource'
d1 = {}
for i in sample:
    c = sample.count(i)
    d1[i] = c
d1

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

26. Write a Python program to get the top three items in a shop. 
Sample data: {&#39;item1&#39;: 45.50, &#39;item2&#39;:35, &#39;item3&#39;: 41.30, &#39;item4&#39;:55, &#39;item5&#39;: 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [64]:
sampledata = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
s = sorted(sampledata.values(),reverse = True)
newdict1 = {k:v for (k,v) in sampledata.items() if v>=s[2]}
newdict2 = {k:v for (k,v) in sorted(newdict1.items(),key = lambda i:i[1],reverse = True)}
newdict2

{'item4': 55, 'item1': 45.5, 'item3': 41.3}

27. Write a Python program to match key values in two dictionaries.
Sample dictionary: {&#39;key1&#39;: 1, &#39;key2&#39;: 3, &#39;key3&#39;: 2}, {&#39;key1&#39;: 1, &#39;key2&#39;: 2}

Expected output: key1: 1 is present in both x and y

In [69]:
d1 = {'key1': 1, 'key2': 3, 'key3': 2}
d2 = {'key1': 1, 'key2': 2}
s1 = set((k,v) for (k,v) in d1.items())
s2 = set((k,v) for (k,v) in d2.items())
print(s1.intersection(s2))

{('key1', 1)}

28. Write a Python program to store a given dictionary in a json file. 
Original dictionary:
{&#39;students&#39;: [{&#39;firstName&#39;: &#39;Nikki&#39;, &#39;lastName&#39;: &#39;Roysden&#39;}, {&#39;firstName&#39;: &#39;Mervin&#39;, &#39;lastName&#39;: &#39;Friedland&#39;}, {&#39;firstName&#39;: &#39;Aron &#39;,
&#39;lastName&#39;: &#39;Wilkins&#39;}], &#39;teachers&#39;: [{&#39;firstName&#39;: &#39;Amberly&#39;, &#39;lastName&#39;: &#39;Calico&#39;}, {&#39;firstName&#39;: &#39;Regine&#39;, &#39;lastName&#39;: &#39;Agtarap&#39;}]}
&lt;class &#39;dict&#39;&gt;
Json file to dictionary:
{&#39;students&#39;: [{&#39;firstName&#39;: &#39;Nikki&#39;, &#39;lastName&#39;: &#39;Roysden&#39;}, {&#39;firstName&#39;: &#39;Mervin&#39;, &#39;lastName&#39;: &#39;Friedland&#39;}, {&#39;firstName&#39;: &#39;Aron &#39;,
&#39;lastName&#39;: &#39;Wilkins&#39;}], &#39;teachers&#39;: [{&#39;firstName&#39;: &#39;Amberly&#39;, &#39;lastName&#39;: &#39;Calico&#39;}, {&#39;firstName&#39;: &#39;Regine&#39;, &#39;lastName&#39;: &#39;Agtarap&#39;}]}

29. Write a Python program to convert more than one list to nested dictionary. 
Original strings:
[&#39;S001&#39;, &#39;S002&#39;, &#39;S003&#39;, &#39;S004&#39;]
[&#39;Adina Park&#39;, &#39;Leyton Marsh&#39;, &#39;Duncan Boyle&#39;, &#39;Saim Richards&#39;]
[85, 98, 89, 92]
Nested dictionary:
[{&#39;S001&#39;: {&#39;Adina Park&#39;: 85}}, {&#39;S002&#39;: {&#39;Leyton Marsh&#39;: 98}}, {&#39;S003&#39;: {&#39;Duncan Boyle&#39;: 89}}, {&#39;S004&#39;: {&#39;Saim Richards&#39;: 92}}]

In [33]:
l1 = ['S001', 'S002', 'S003', 'S004'] 
l2 = ['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
l3 = [85, 98, 89, 92]
d1 = [{a:{b:c}} for (a,b,c) in zip(l1,l2,l3)]
d1

'''[('S001', 'Adina Park', 85),
 ('S002', 'Leyton Marsh', 98),
 ('S003', 'Duncan Boyle', 89),
 ('S004', 'Saim Richards', 92)]''' # a tupple like this will be created... and we name different alements as a,b,c of tupple 
                                   #and assign respective positions in a dict

[{'S001': {'Adina Park': 85}},
 {'S002': {'Leyton Marsh': 98}},
 {'S003': {'Duncan Boyle': 89}},
 {'S004': {'Saim Richards': 92}}]

30. Write a Python program to find the length of a given dictionary values. 
Original Dictionary:
{1: &#39;red&#39;, 2: &#39;green&#39;, 3: &#39;black&#39;, 4: &#39;white&#39;, 5: &#39;black&#39;}
Length of dictionary values:
{&#39;red&#39;: 3, &#39;green&#39;: 5, &#39;black&#39;: 5, &#39;white&#39;: 5}
Original Dictionary:
{&#39;1&#39;: &#39;Austin Little&#39;, &#39;2&#39;: &#39;Natasha Howard&#39;, &#39;3&#39;: &#39;Alfred Mullins&#39;, &#39;4&#39;: &#39;Jamie Rowe&#39;}
Length of dictionary values:
{&#39;Austin Little&#39;: 13, &#39;Natasha Howard&#39;: 14, &#39;Alfred Mullins&#39;: 14, &#39;Jamie Rowe&#39;: 10}

In [73]:
originaldictionary = {'1': 'Austin Little', '2': 'Natasha Howard', '3': 'Alfred Mullins', '4': 'Jamie Rowe'}
newdict = {}
for k,v in originaldictionary.items():
    newdict[v] = len(v)
print(newdict)

{'Austin Little': 13, 'Natasha Howard': 14, 'Alfred Mullins': 14, 'Jamie Rowe': 10}

31. Write a Python program to convert a given dictionary into a list of lists. Go to the editor
Original Dictionary:
{1: &#39;red&#39;, 2: &#39;green&#39;, 3: &#39;black&#39;, 4: &#39;white&#39;, 5: &#39;black&#39;}
Convert the said dictionary into a list of lists:
[[1, &#39;red&#39;], [2, &#39;green&#39;], [3, &#39;black&#39;], [4, &#39;white&#39;], [5, &#39;black&#39;]]
Original Dictionary:
{&#39;1&#39;: &#39;Austin Little&#39;, &#39;2&#39;: &#39;Natasha Howard&#39;, &#39;3&#39;: &#39;Alfred Mullins&#39;, &#39;4&#39;: &#39;Jamie Rowe&#39;}
Convert the said dictionary into a list of lists:
[[&#39;1&#39;, &#39;Austin Little&#39;], [&#39;2&#39;, &#39;Natasha Howard&#39;], [&#39;3&#39;, &#39;Alfred Mullins&#39;], [&#39;4&#39;, &#39;Jamie Rowe&#39;]]

In [75]:
originaldictionary =  {1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
newlist = [[k,v] for (k,v) in originaldictionary.items()]
newlist

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

32. Write a Python program to filter even numbers from a given dictionary values. Go to the editor
Original Dictionary:
{&#39;V&#39;: [1, 4, 6, 10], &#39;VI&#39;: [1, 4, 12], &#39;VII&#39;: [1, 3, 8]}
Filter even numbers from said dictionary values:
{&#39;V&#39;: [4, 6, 10], &#39;VI&#39;: [4, 12], &#39;VII&#39;: [8]}
Original Dictionary:
{&#39;V&#39;: [1, 3, 5], &#39;VI&#39;: [1, 5], &#39;VII&#39;: [2, 7, 9]}
Filter even numbers from said dictionary values:
{&#39;V&#39;: [], &#39;VI&#39;: [], &#39;VII&#39;: [2]}

In [9]:
originaldictionary = {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
#newdict = {k:v for (k,v) in originaldictionary.items() for i in v if i%2==0}

newdict = {}
for k,v in originaldictionary.items():
    newlist = []
    for i in v:
        if i%2==0:
            newlist.append(i)
    newdict[k] = newlist
newdict

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

33. Write a Python program to count the frequency in a given dictionary. Go to the editor
Original Dictionary:
{&#39;V&#39;: 10, &#39;VI&#39;: 10, &#39;VII&#39;: 40, &#39;VIII&#39;: 20, &#39;IX&#39;: 70, &#39;X&#39;: 80, &#39;XI&#39;: 40, &#39;XII&#39;: 20}
Count the frequency of the said dictionary:
Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

In [14]:
originaldictionary = {'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
newdict = {}
for k,v in originaldictionary.items():
    c=1
    if v in newdict:
        newdict[v] = c+1
    else:
        newdict[v] = c
newdict

{10: 2, 40: 2, 20: 2, 70: 1, 80: 1}