# SELF PRACTICE

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

In [ ]:
import pandas as pd

print(pd.__version__)

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

In [ ]:
print(myvar[0])

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

In [11]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.DataFrame(calories, index = ["d1", "d2"])

print(myvar)
print(myvar['day1']['d2'
                   ])
print(myvar.day2['d1'])

    day1  day2  day3
d1   420   380   390
d2   420   380   390
420
380

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.Series(data)

print(myvar)

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

In [ ]:
print(df)

In [ ]:
import pandas as pd

df1 = pd.read_json('https://www.w3schools.com/python/pandas/data.js')

print(df1.to_string())

In [ ]:
df1

In [ ]:
df1.head(10)

In [ ]:
print(df.info())

## Cleaning

The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28).

The data set contains wrong format ("Date" in row 26).

The data set contains wrong data ("Duration" in row 7).

The data set contains duplicates (row 11 and 12).

In [2]:
import pandas as pd

df = pd.read_csv('dirtydata.csv')

new_df = df.dropna()

print(new_df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [4]:
df.iloc[5:7]

   Duration          Date  Pulse  Maxpulse  Calories
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0

In [ ]:
import pandas as pd

df = pd.read_csv('dirtydata.csv')

df.dropna(inplace = True)
print(df.to_string())

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)
df

In [ ]:
#mean
import pandas as pd

df = pd.read_csv('data.csv')
print(df.to_string())
x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)
print(df.to_string())

In [ ]:
#median
import pandas as pd

df = pd.read_csv('data.csv')
print(df.to_string())
x = df["Calories"].median()

df["Calories"].fillna(x, inplace = True)
print(df.to_string())

In [ ]:
#mode
import pandas as pd

df = pd.read_csv('data.csv')
print(df.to_string())
x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)

In [ ]:
#date time
import pandas as pd

df = pd.read_csv('dirtydata.csv')
print(df.to_string())
df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

In [ ]:
df.dropna(subset=['Date'], inplace = True)
print(df.to_string())

In [ ]:
df.loc[7, 'Duration'] = 45
print(df.to_string())

In [ ]:
for x in df.index:
      if df.loc[x, "Duration"] > 120:
        df.loc[x, "Duration"] = 120
print(df.to_string())

In [ ]:
for x in df.index:
      if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace = True)
print(df.to_string())

In [ ]:
print(df.duplicated())

In [ ]:
df.drop_duplicates(inplace = True)
print(df.to_string())

## Pandas - Data Correlations

Finding Relationships

A great aspect of the Pandas module is the corr() method.

The corr() method calculates the relationship between each column in your data set.

In [ ]:
df.corr()

## Result Explained
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.

Perfect Correlation:

We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself.

Good Correlation:

"Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out.

Bad Correlation:

"Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa.

## Plotting
Pandas uses the plot() method to create diagrams.

Pythons uses Pyplot, a submodule of the Matplotlib library to visualize the diagram on the screen.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')

df.plot()

plt.show()

## Scatter Plot
Specify that you want a scatter plot with the kind argument:

kind = 'scatter'

A scatter plot needs an x- and a y-axis.

In the example below we will use "Duration" for the x-axis and "Calories" for the y-axis.

Include the x and y arguments like this:

x = 'Duration', y = 'Calories'

In [ ]:
df = pd.read_csv('data.csv')

df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')

plt.show()

In [ ]:
df["Duration"].plot(kind = 'hist')
plt.show()

In [2]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [3]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})  
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [4]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})  
a.map('I like {}'.format)  
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [5]:
import pandas as pd  
# calculate standard deviation  
import numpy as np   
print(np.std([4,7,2,1,6,3]))  
print(np.std([6,9,15,2,-17,15,4]))

2.1147629234082532
10.077252622027656

In [6]:
import pandas as pd  
import numpy as np  
   
#Create a DataFrame  
info = {  
    'Name':['Parker','Smith','John','William'],  
   'sub1_Marks':[52,38,42,37],  
   'sub2_Marks':[41,35,29,36]}   
data = pd.DataFrame(info)  
data  
# standard deviation of the dataframe  
data.std()

sub1_Marks    6.849574
sub2_Marks    4.924429
dtype: float64

In [10]:
s = pd.Series(["a", "b", "c"],  name="vals")
print(s)
s.to_frame()

0    a
1    b
2    c
Name: vals, dtype: object

  vals
0    a
1    b
2    c

In [14]:
import pandas as pd   
import matplotlib.pyplot as plt     
emp = ['Parker', 'John', 'Smith', 'William']   
id = [102, 107, 109, 114]     
emp_series = pd.Series(emp)   
id_series = pd.Series(id)     
frame = { 'Emp': emp_series, 'ID': id_series }   
result = pd.DataFrame(frame)     
print(result)

TypeError: Index(...) must be called with a collection of some kind, 'ID' was passed

In [12]:
import pandas as pd  
pd.unique(pd.Series([2, 1, 3, 3]))  
pd.unique(pd.Series([pd.Timestamp('20160101'),  
pd.Timestamp('20160101')]))

array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')